body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    text-transform: uppercase;
}

header nav ul {
    display: flex;
}


header nav a {
    text-decoration: none;
    color: white;
    
}